@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#name {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #5858E7;
}
#n{
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}
input{
  width: 300px;
  height: 40px;
  text-align: justify;
  padding: 10px;
  border-radius:5px;
}
textarea{
  width: 300px;
  height: 100px;
  text-align: justify;
  padding: 10px;
  resize: none;
  border-radius:5px;
}
@media (min-width: 768px) {
  #name {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #5858E7;
  }
}
@media (min-width: 640px)  {
  #name {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #5858E7;
  }
}